<template>
  <sui-grid centered :columns="1" container>
    <sui-grid-column class="ReportForm">
      <transition enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
        <sui-message v-bind:color="message.color" size="large" class="state-msg" v-if="message.showMessage == true" v-bind:icon="message.icon" v-bind:header="message.header" v-bind:content="message.content" />
      </transition>
      <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
        <sui-form v-if="message.showMessage == false" size="large" @submit.prevent="sendTicket" @reset.prevent="resetTicket" v-bind:loading="submitting" style="width:100%">
          <sui-segment stacked>
            <sui-form-field>
              <label>Тема заявки</label>
              <sui-input name="theme" placeholder="Введите тему заявки" v-model="theme" />
            </sui-form-field>
            <sui-form-field>
              <label>Номер кабинета</label>
              <sui-search icon="search" placeholder="Введите № кабинета" v-bind:onSearch="cabSearch" :minSearchLength="2" v-model="cabinet" />
            </sui-form-field>
            <sui-form-field>
              <label>Поиск техники</label>
              <sui-search icon="search" placeholder="Выберите технику в классе" v-bind:onSearch="techSearch" v-bind:onSelect="techChange" v-bind:value="techName" />
            </sui-form-field>
            <sui-form-field>
              <label>Описание проблемы</label>
              <textarea rows="3" placeholder="Введите описание проблемы..." v-model="problem" />
            </sui-form-field>
            <sui-button type="submit" primary>Отправить заявку</sui-button>
            <sui-button type="reset">Сброс</sui-button>
            <sui-button secondary @click.prevent="goBack">Отмена</sui-button>
          </sui-segment>
        </sui-form>
      </transition>
      <transition enter-active-class="animated flipInX" leave-active-class="">
        <sui-message class="state-msg" error v-if="error.length > 0" v-bind:content="error" />
      </transition>
    </sui-grid-column>
  </sui-grid>
</template>
<script>
import axios from "axios";
import isEqual from "lodash/isEqual";
import SuiSearch from "../SuiSearch";
export default {
  name: "RegisterReport",
  data() {
    return {
      submitting: false,
      theme: "",
      cabinet: "",
      problem: "",
      techName: "",
      tech: {},
      techs: [],
      error: "",
      message: {
        showMessage: false,
        icon: "check",
        color: "green",
        header: "Заявка успешно отправлена",
        content:
          "Пожалуйста, подождите. Через несколько секунд откроется список заявок с только что оформленной заявкой."
      }
    };
  },
  components: {
    "sui-search": SuiSearch
  },
  methods: {
    sendTicket() {
      if (this.theme.length < 3) {
        this.error = "Тема заявки слишком короткая";
        return;
      }
      if (!/^\d+$/.test(this.cabinet)) {
        this.error = "№ кабинета должен содержать только числа";
        return;
      }
      if (isEqual(this.tech, {})) {
        this.error = "Не выбрана техника из поиска";
        return;
      }
      if (this.problem.length < 10) {
        this.error = "Описание проблемы слишком короткое";
        return;
      }
      this.error = "";
      this.submitting = true;
      axios
        .post(
          "/api/report/register",
          {
            theme: this.theme,
            cabinet: this.cabinet,
            problem: this.problem,
            equipment_id: this.tech.id
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          if (res.data.success) {
            this.message = {
              showMessage: true,
              icon: "check",
              color: "green",
              header: "Заявка успешно отправлена",
              content:
                "Пожалуйста, подождите. Через несколько секунд откроется список заявок с только что оформленной заявкой."
            };
            setTimeout(() => this.$router.push({ name: "ReportsList" }), 3000);
          } else {
            this.message = {
              showMessage: true,
              icon: "ban",
              color: "red",
              header: "Не удалось отправить заявку",
              content:
                res.data.message || "Неизвестная ошибка при отправке заявки"
            };
            setTimeout(() => {
              this.submitting = false;
              this.message.showMessage = false;
              this.$router.push({ name: "RegisterReport" });
            }, 3000);
          }
        })
        .catch(err => {
          this.message = {
            showMessage: true,
            icon: "ban",
            color: "red",
            header: "Не удалось отправить заявку",
            content: "Ошибка при подключении к серверу приложения."
          };
          setTimeout(() => {
            this.error = "";
            this.submitting = false;
            this.resetTicket();
          }, 3000);
        });
    },
    goBack() {
      this.$router.go(-1);
    },
    resetTicket() {
      this.theme = "";
      this.cabinet = "";
      this.techs = [];
      this.tech = {};
      this.techName = "";
      this.techSearch.value = "";
      this.error = "";
      this.message = {
        showMessage: false,
        icon: "check",
        color: "green",
        header: "Заявка успешно отправлена",
        content:
          "Пожалуйста, подождите. Через несколько секунд откроется список заявок с только что оформленной заявкой."
      };
    },
    cabSearch(text, handleSearch) {
      axios
        .post(
          "/api/equipment/roomAutocomplete",
          {
            query: text
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          if (res.data.success) {
            handleSearch(res.data.docs);
          } else handleSearch([]);
        })
        .catch(err => handleSearch([]));
    },
    techSearch(text, handleSearch) {
      var query = { query: text };
      if (this.cabinet.length > 0 && /^\d+$/.test(this.cabinet)) {
        query.room = +this.cabinet;
      }
      axios
        .post("/api/equipment/autocomplete", query, {
          headers: this.$root.headers
        })
        .then(res => {
          if (res.data.success) {
            this.techs = res.data.docs.map(item =>
              Object.assign({}, item, { name: item.name + ", ID: " + item.id })
            );
            handleSearch(
              res.data.docs.map(x => {
                return x.name + ", ID: " + x.id;
              })
            );
          } else handleSearch([]);
        })
        .catch(err => handleSearch([]));
    },
    techChange(data) {
      this.tech = this.techs[data.index];
      this.techName = this.techs[data.index].name;
    }
  }
};
</script>
<style scoped>
.ReportForm,
.state-msg {
  width: 100% !important;
  max-width: 700px !important;
  margin: 0.6rem auto;
}
</style>