<template>
  <sui-grid centered :columns="1" container style="margin-top:1rem">
    <sui-message v-if="items.length == 0 && requestFinished == true" size="large" icon="sticky note outline" class="item-seg" style="margin-top:1rem" header="Элементы отсутствуют" content="Похоже, Вы ещё не создавали заявок. Поэтому список заявок пуст!" />
    <sui-segment raised class="item-seg" v-for="item in items" :key="item.id">
      <sui-table celled padded>
        <sui-table-body>
          <sui-table-row>
            <th class="throw">Тема</th>
            <sui-table-cell>{{item.theme}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">№ кабинета</th>
            <sui-table-cell>{{item.cabinet}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Оборудование</th>
            <sui-table-cell>{{item.equipment.name + ', ID: ' + item.equipment.id}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Описание проблемы</th>
            <sui-table-cell style="white-space: pre-wrap;">{{item.problem}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Решение</th>
            <sui-table-cell style="white-space: pre-wrap;">{{item.solution == '' ? 'Ещё не решено' : item.solution}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Создана</th>
            <sui-table-cell>{{item.created_at}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Статус</th>
            <sui-table-cell>
              <sui-label v-if="item.status == 0" color="orange">
                <sui-icon name="exclamation triangle" color="black" />
                <sui-label-detail style="color:black;">Заявка открыта</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 1" color="yellow">
                <sui-icon name="calendar outline" color="black" />
                <sui-label-detail style="color:black;">В процессе решения</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 2" color="teal">
                <sui-icon name="check circle outline" color="black" />
                <sui-label-detail style="color:black;">Закрыта автором</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 3" color="green">
                <sui-icon name="check circle" color="black" />
                <sui-label-detail style="color:black;">Проблема решена</sui-label-detail>
              </sui-label>
            </sui-table-cell>
          </sui-table-row>
        </sui-table-body>
      </sui-table>
      <div class="actions">
        <sui-button compact :loading="typeof loading[item.id] === 'undefined' ? false : true" primary v-if="item.status == 0" @click="closeReport(item.id)">Закрыть заявку</sui-button>
      </div>
    </sui-segment>
    <div class="pager-container">
      <pagination v-if="pages > 1" :total="pages" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions" />
    </div>
  </sui-grid>
</template>
<script>
import axios from "axios";
import pagination from "vuejs-pagination-semantic-ui";
export default {
  name: "ReportsList",
  components: { pagination },
  data() {
    return {
      page: 1,
      pages: 0,
      pageSize: 15,
      items: [],
      loading: {},
      requestFinished: false,
      paginationOptions: {
        offset: 2,
        alwaysShowPrevNext: true
      }
    };
  },
  mounted() {
    this.pageChanged(1);
  },
  methods: {
    pageChanged(page) {
      this.requestFinished = false;
      axios
        .post(
          "/api/report/read",
          {
            page: page || this.page || 1,
            limit: this.pageSize
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          if (res.data.success) {
            this.page = res.data.page;
            this.pages = res.data.totalPages;
            this.items = res.data.docs;
          }
          this.requestFinished = true;
        })
        .catch(err => (this.requestFinished = true));
    },
    changeLoading(id, state) {
      if (state) {
        this.loading = Object.assign({}, this.loading, { [id]: true });
      } else {
        let loading = this.loading;
        delete loading[id];
        this.loading = Object.assign({}, loading);
      }
    },
    closeReport(id) {
      if (this.loading[id] == true) return;
      this.changeLoading(id, true);
      axios
        .post(
          "/api/report/update",
          {
            id: id,
            status: 2
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          this.changeLoading(id, false);
          this.pageChanged(this.page);
        })
        .catch(err => {
          this.changeLoading(id, false);
          this.pageChanged(this.page);
        });
    }
  }
};
</script>
<style scoped>
.throw {
  width: 4rem;
}
.item-seg {
  width: 100%;
  max-width: 800px;
  margin: 0.3rem auto;
}
.pager-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
</style>