<template>
  <sui-grid centered :columns="2" container style="margin-top:1rem">
    <sui-grid-row>
      <h2>Выберите диапазон дат для отчёта</h2>
    </sui-grid-row>
    <sui-grid-row>
      <div class="dates-container">
        <div class="ui input fullsizeflex">
          <label>Дата начала отчёта</label>
          <datepicker class="ui input" format="dd.MM.yyyy" v-bind:language="language" v-model="startDate" />
        </div>
        <div class="ui input fullsizeflex">
          <label>Дата конца отчёта</label>
          <datepicker class="ui input" format="dd.MM.yyyy" v-bind:language="language" v-model="endDate" />
        </div>
      </div>
    </sui-grid-row>
    <sui-grid-row>
      <sui-button content="Вывод отчёта" icon="check" size="big" color="green" label-position="left" @click="startDownload" />
      <a id="hiddenLink" v-bind:href="link" style="display:none"></a>
    </sui-grid-row>
  </sui-grid>
</template>
<script>
import dateFormat from "dateformat";
import Datepicker from "vuejs-datepicker";
import Russian from "vuejs-datepicker/src/locale/translations/ru";

export default {
  name: "ReportGenerator",
  components: { Datepicker },
  data() {
    return {
      startDate: new Date(),
      endDate: new Date(),
      language: Russian
    };
  },
  computed: {
    link() {
      return (
        "/download/report-" +
        dateFormat(this.startDate, "dd.mm.yyyy") +
        "-" +
        dateFormat(this.endDate, "dd.mm.yyyy") +
        ".xlsx"
      );
    }
  },
  methods: {
    startDownload() {
      document.getElementById("hiddenLink").click();
    }
  }
};
</script>
<style>
.vdp-datepicker > div > input {
  border-radius: 4px;
  padding: 0.75em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

.fullsizeflex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.2rem 0.6rem;
}

.dates-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fullsizeflex > label {
  font-weight: bold;
  margin-bottom: 0.4rem;
}
</style>