<template>
  <sui-grid centered :columns="1" container>
    <sui-grid-column class="AddForm">
      <sui-form :loading="loading" style="width:100%" @submit.prevent="addItem">
        <sui-segment stacked>
          <sui-form-field>
            <label>Название</label>
            <sui-input type="text" placeholder="Введите здесь новое название" v-model="name" />
          </sui-form-field>
          <sui-form-field>
            <label>Номер кабинета</label>
            <sui-input type="text" placeholder="Введите здесь новый номер кабинета" v-model="room" />
          </sui-form-field>
          <sui-button compact v-if="!loading" color="green" type="submit">Отправить</sui-button>
        </sui-segment>
      </sui-form>
      <transition enter-active-class="animated flipInX" leave-active-class="">
        <sui-message class="AddForm" error v-if="error.length > 0" v-bind:content="error" />
      </transition>
    </sui-grid-column>
  </sui-grid>
</template>
<script>
import axios from "axios";
export default {
  name: "AdminEquipmentAdd",
  data() {
    return {
      name: "",
      room: "",
      error: "",
      loading: false
    };
  },
  methods: {
    addItem() {
      if (this.name.length < 4) {
        this.error = "Слишком короткое название";
        return;
      }
      if (this.room.length < 1) {
        this.error = "Слишком короткий номер комнаты";
        return;
      }
      if (!/^\d+$/.test(this.room)) {
        this.error = "Номер кабинета должен содержать только цифры";
        return;
      }
      this.loading = true;
      axios
        .post(
          "/api/equipment/create",
          {
            name: this.name,
            room: +this.room
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          this.loading = false;
          if (res.data.success) {
            this.$router.push({ name: "AdminEquipmentList" });
          } else {
            this.error = res.data.message;
          }
        })
        .catch(err => {
          this.loading = false;
          this.error = "Неизвестная ошибка";
        });
    }
  }
};
</script>
<style scoped>
.AddForm {
  width: 100% !important;
  max-width: 700px !important;
  margin: 0.6rem auto;
}
</style>