<template>
  <sui-grid centered :columns="1" container style="margin-top:1rem">
    <sui-message v-if="items.length == 0 && requestFinished == true" size="large" icon="sticky note outline" class="item-seg" style="margin-top:1rem" header="Элементы отсутствуют" content="Похоже, пользователи ещё не создавали заявок. Поэтому список заявок пуст!" />
    <admin-report v-for="item in items" :key="item.id" :item="item" v-bind:callback="pageChanged" v-bind:page="page" />
    <div class="pager-container">
      <pagination v-if="pages > 1" :total="pages" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions" />
    </div>
  </sui-grid>
</template>
<script>
import axios from "axios";
import pagination from "vuejs-pagination-semantic-ui";
import AdminReport from "@/components/AdminPage/AdminReport";
export default {
  name: "AdminReportsList",
  components: { pagination, "admin-report": AdminReport },
  data() {
    return {
      page: 0,
      pages: 0,
      pageSize: 15,
      items: [],
      requestFinished: false,
      paginationOptions: {
        offset: 2,
        alwaysShowPrevNext: true
      }
    };
  },
  mounted() {
    this.pageChanged(1);
  },
  methods: {
    pageChanged(page, force) {
      var force = typeof force !== 'undefined' ? force : false;
      if (this.page == page && force == false) return false;
      this.requestFinished = false;
      axios
        .post(
          "/api/report/read",
          {
            page: page || this.page || 1,
            limit: this.pageSize
          },
          { headers: this.$root.headers }
        )
        .then(res => {
          if (res.data.success) {
            this.page = res.data.page;
            this.pages = res.data.totalPages;
            this.items = res.data.docs;
          }
          this.requestFinished = true;
        })
        .catch(err => (this.requestFinished = true));
    }
  }
};
</script>
<style scoped>
.throw {
  width: 4rem;
}
.item-seg {
  width: 100%;
  max-width: 800px;
  margin: 0.3rem auto;
}
.pager-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
</style>