<template>
    <sui-segment raised class="item-seg">
      <sui-table celled padded>
        <sui-table-body>
          <sui-table-row>
            <th class="throw">Тема</th>
            <sui-table-cell>{{item.theme}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">№ кабинета</th>
            <sui-table-cell>{{item.cabinet}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Оборудование</th>
            <sui-table-cell>{{item.equipment.name + ', ID: ' + item.equipment.id}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Описание проблемы</th>
            <sui-table-cell style="white-space: pre-wrap;">{{item.problem}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Решение</th>
            <sui-table-cell style="white-space: pre-wrap;">{{item.solution == '' ? 'Ещё не решено' : item.solution}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Создана</th>
            <sui-table-cell>{{item.created_at}}</sui-table-cell>
          </sui-table-row>
          <sui-table-row>
            <th class="throw">Статус</th>
            <sui-table-cell>
              <sui-label v-if="item.status == 0" color="orange">
                <sui-icon name="exclamation triangle" color="black" />
                <sui-label-detail style="color:black;">Заявка открыта</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 1" color="yellow">
                <sui-icon name="calendar outline" color="black" />
                <sui-label-detail style="color:black;">В процессе решения</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 2" color="teal">
                <sui-icon name="check circle outline" color="black" />
                <sui-label-detail style="color:black;">Закрыта автором</sui-label-detail>
              </sui-label>
              <sui-label v-if="item.status == 3" color="green">
                <sui-icon name="check circle" color="black" />
                <sui-label-detail style="color:black;">Проблема решена</sui-label-detail>
              </sui-label>
            </sui-table-cell>
          </sui-table-row>
        </sui-table-body>
      </sui-table>
      <sui-form style="margin-bottom:0.6rem" v-if="isClosing" :loading="loading">
        <sui-form-field>
          <label style="text-align:left">Опишите решение проблемы</label>
          <textarea rows="3" placeholder="Введите описание решения проблемы..." v-model="solution" />
        </sui-form-field>
      </sui-form>
      <transition enter-active-class="animated fadeIn" leave-active-class="">
        <sui-message error v-if="error.length > 0" v-bind:content="error" />
      </transition>
      <div class="actions">
        <sui-button compact :loading="loading" color="green" v-if="item.status == 0 && !isClosing" @click="changeItem({status: 1})">В работе</sui-button>
        <sui-button compact :loading="loading" color="grey" v-if="(item.status == 0 || item.status == 1) && !isClosing && !loading" @click="isClosing = true">Завершить заявку</sui-button>
        <sui-button compact :loading="loading" color="teal" v-if="isClosing && !loading" @click="closeReport">Отправить</sui-button>
        <sui-button compact :loading="loading" color="grey" v-if="isClosing && !loading" @click="isClosing = false">Отмена</sui-button>
      </div>
    </sui-segment>
</template>
<script>
import axios from "axios";
export default {
  name: "AdminReport",
  props: ["item", "callback", "page"],
  data() {
    return {
      isClosing: false,
      loading: false,
      solution: "",
      error: ""
    };
  },
  methods: {
    changeItem(data) {
      if (this.loading == true) return;
      this.loading = true;
      var toSend = {
        id: this.item.id,
        ...data
      };
      axios
        .post("/api/report/update", toSend, { headers: this.$root.headers })
        .then(res => {
          this.loading = false;
          this.isClosing = false;
          this.callback(this.page, true);
        })
        .catch(err => {
          this.loading = false;
          this.isClosing = false;
          this.callback(this.page, true);
        });
    },
    closeReport() {
      if (this.solution.length < 10) {
        this.error = "Описание должно быть длиннее 10 символов";
      } else {
        this.error = "";
        this.changeItem({
          status: 3,
          solution: this.solution
        });
      }
    }
  }
};
</script>
<style scoped>
.throw {
  width: 4rem;
}
.item-seg {
  width: 100%;
  max-width: 800px;
  margin: 0.3rem auto;
}
.pager-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
</style>

