<template>
    <sui-segment raised class="item-seg">
      <div class="item-data" v-if="!isEditing">
        <p class="item-text">{{'ID: ' + item.id + ', ' + item.name + ', каб. ' + item.room}}</p>
        <div class="mini-actions">
          <sui-button size="mini" compact color="teal" @click="isEditing = true">Изменить</sui-button>
          <sui-button size="mini" compact color="red" @click="deleteItem">Удалить</sui-button>
        </div>
      </div>
      <sui-form style="margin-bottom:0.6rem;text-align:left" v-if="isEditing" :loading="loading">
        <sui-form-field>
          <label>Название</label>
          <sui-input type="text" placeholder="Введите здесь новое название" v-model="editing.name" />
        </sui-form-field>
        <sui-form-field>
          <label>Номер кабинета</label>
          <sui-input type="text" placeholder="Введите здесь новый номер кабинета" v-model="editing.room" />
        </sui-form-field>
      </sui-form>
      <transition enter-active-class="animated fadeIn" leave-active-class="">
        <sui-message error v-if="error.length > 0 && isEditing" v-bind:content="error" />
      </transition>
      <div class="actions" v-if="isEditing">
        <sui-button compact :loading="loading" color="green" v-if="isEditing" @click="editItem">Отправить</sui-button>
        <sui-button compact :loading="loading" color="grey" v-if="isEditing" @click="cancelEditing">Отмена</sui-button>
      </div>
    </sui-segment>
</template>
<script>
import axios from "axios";
export default {
  name: "UserItem",
  props: ["item", "callback", "page"],
  data() {
    return {
      currentUser: this.$root.userData.login,
      isEditing: false,
      loading: false,
      error: "",
      editing: {}
    };
  },
  mounted() {
    this.cancelEditing();
  },
  methods: {
    cancelEditing() {
      this.isEditing = false;
      this.editing = Object.assign({}, this.item);
      this.editing.room = this.item.room.toString();
    },
    changeItem(data) {
      if (this.loading == true) return;
      this.loading = true;
      var toSend = {
        id: this.item.id,
        ...data
      };
      axios
        .post("/api/equipment/update", toSend, { headers: this.$root.headers })
        .then(res => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        })
        .catch(err => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        });
    },
    editItem() {
      if (this.editing.name.length < 4) {
        this.error = "Слишком короткое название";
        return;
      }
      if (this.editing.room.length < 1) {
        this.error = "Слишком короткий номер комнаты";
        return;
      }
      if (!/^\d+$/.test(this.editing.room)) {
        this.error = "Номер кабинета должен содержать только цифры";
        return;
      }
      this.changeItem({
        id: this.item.id,
        name: this.editing.name,
        room: +this.editing.room
      });
    },
    deleteItem() {
      axios
        .post(
          "/api/equipment/delete",
          { id: this.item.id },
          { headers: this.$root.headers }
        )
        .then(res => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        })
        .catch(err => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        });
    }
  }
};
</script>
<style scoped>
.item-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item-text {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.mini-actions {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}
.item-seg {
  width: 100%;
  max-width: 800px;
  margin: 0.3rem auto;
}
.pager-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
</style>

