<template>
    <sui-segment raised class="item-seg">
      <div class="item-data" v-if="!isEditing">
        <p class="item-text">{{item.firstName + ' ' + item.lastName}} - @{{item.nickname}}</p>
        <div class="mini-actions">
          <sui-button size="mini" compact color="teal" @click="isEditing = true">Изменить</sui-button>
          <sui-button size="mini" compact color="red" @click="deleteUser" v-if="item.nickname !== currentUser">Удалить</sui-button>
        </div>
      </div>
      <sui-form style="margin-bottom:0.6rem;text-align:left" v-if="isEditing" :loading="loading">
        <sui-form-field>
          <label>Логин</label>
          <sui-input type="text" placeholder="Введите здесь новый логин" v-model="editing.nickname" />
        </sui-form-field>
        <sui-form-field>
          <label>Имя</label>
          <sui-input type="text" placeholder="Введите здесь другое имя" v-model="editing.firstName" />
        </sui-form-field>
        <sui-form-field>
          <label>Фамилия</label>
          <sui-input type="text" placeholder="Введите здесь другую фамилию" v-model="editing.lastName" />
        </sui-form-field>
        <sui-form-field>
          <label>Уровень доступа</label>
          <sui-dropdown :options="options" v-model="editing.role" selection fluid />
        </sui-form-field>
        <sui-form-field>
          <sui-checkbox label="Изменить пароль?" v-model="changePassword" />
        </sui-form-field>
        <sui-form-field v-if="changePassword">
          <label>Пароль</label>
          <sui-input type="password" placeholder="Введите здесь новый пароль" v-model="password" />
        </sui-form-field>
        <sui-form-field v-if="changePassword">
          <label>Повторите пароль</label>
          <sui-input type="password" placeholder="Введите здесь пароль ещё раз" v-model="password2" />
        </sui-form-field>
      </sui-form>
      <transition enter-active-class="animated fadeIn" leave-active-class="">
        <sui-message error v-if="error.length > 0 && isEditing" v-bind:content="error" />
      </transition>
      <div class="actions" v-if="isEditing">
        <sui-button compact :loading="loading" color="green" v-if="isEditing" @click="editUser">Отправить</sui-button>
        <sui-button compact :loading="loading" color="grey" v-if="isEditing" @click="cancelEditing">Отмена</sui-button>
      </div>
    </sui-segment>
</template>
<script>
import axios from "axios";
export default {
  name: "UserItem",
  props: ["item", "callback", "page"],
  data() {
    return {
      currentUser: this.$root.userData.login,
      isEditing: false,
      loading: false,
      error: "",
      editing: {},
      options: [
        {
          text: "Пользователь",
          value: 0
        },
        {
          text: "Директор",
          value: 1
        },
        {
          text: "Администратор",
          value: 2
        }
      ],
      password: "",
      password2: "",
      changePassword: false
    };
  },
  mounted() {
    this.cancelEditing();
  },
  methods: {
    cancelEditing() {
      this.isEditing = false;
      this.editing = Object.assign({}, this.item);
      this.editing.role = +this.item.role;
    },
    changeItem(data) {
      if (this.loading == true) return;
      this.loading = true;
      var toSend = {
        id: this.item.id,
        ...data
      };
      axios
        .post("/api/auth/update", toSend, { headers: this.$root.headers })
        .then(res => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        })
        .catch(err => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        });
    },
    editUser() {
      if (this.editing.nickname.length < 4) {
        this.error = "Слишком короткий логин";
        return;
      }
      if (!/^[\w\d]+$/.test(this.editing.nickname)) {
        this.error = "Логин должен содержать только буквы и цифры";
        return;
      }
      if (this.editing.firstName.length < 2) {
        this.error = "Слишком короткое имя";
        return;
      }
      if (this.editing.lastName.length < 3) {
        this.error = "Слишком короткая фамилия";
        return;
      }
      if (this.changePassword) {
        if (this.password.length < 4) {
          this.error = "Слишком короткий пароль";
          return;
        }
        if (this.password != this.password2) {
          this.error = "Пароли не совпадают";
          return;
        }
        this.changeItem({
          id: this.item.id,
          nickname: this.editing.nickname,
          firstName: this.editing.firstName,
          lastName: this.editing.lastName,
          role: this.editing.role,
          password: this.password
        });
      } else {
        this.changeItem({
          id: this.item.id,
          nickname: this.editing.nickname,
          firstName: this.editing.firstName,
          lastName: this.editing.lastName,
          role: this.editing.role
        });
      }
    },
    deleteUser() {
      axios
        .post(
          "/api/auth/delete",
          { id: this.item.id },
          { headers: this.$root.headers }
        )
        .then(res => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        })
        .catch(err => {
          this.loading = false;
          this.isEditing = false;
          this.callback(this.page, true);
        });
    }
  }
};
</script>
<style scoped>
.item-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item-text {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.mini-actions {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}
.item-seg {
  width: 100%;
  max-width: 800px;
  margin: 0.3rem auto;
}
.pager-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
</style>

