<template>
  <div id="megacontainer">
    <div id="bodyimg"></div>
    <div class="ui middle aligned center aligned grid">
      <sui-grid-column>
        <sui-form v-bind:loading="submitting" size="large" v-on:submit.prevent="runLogin">
          <sui-segment stacked>
            <sui-header centered image textAlign="center" color="blue" id="centered-login-header">
              <sui-icon name="sign in alternate" size="large" />
              <sui-header-content>Вход в аккаунт</sui-header-content>
            </sui-header>
            <sui-form-field>
              <sui-input iconPosition="left" icon="user icon" name="login" placeholder="Имя пользователя" v-model="login" />
            </sui-form-field>
            <sui-form-field>
              <sui-input iconPosition="left" icon="lock icon" type="password" name="password" placeholder="Пароль" v-model="password" />
            </sui-form-field>
            <sui-button fluid color="blue" size="large" content="Вход" />
          </sui-segment>
        </sui-form>
        <transition enter-active-class="animated fadeIn" leave-active-class="">
          <sui-message error v-if="error.length > 0" v-bind:content="error" />
        </transition>
        <transition enter-active-class="animated fadeIn" leave-active-class="">
          <sui-message v-if="submitting == false">
          Нет аккаунта? <router-link to="/register">Регистрация</router-link>
          </sui-message>
        </transition>
      </sui-grid-column>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "LoginPage",
  data() {
    return {
      login: "",
      password: "",
      submitting: true,
      error: ""
    };
  },
  mounted() {
    this.submitting = true;
    this.$root
      .me(localStorage.getItem("auth") || this.$root.token)
      .then(userData => {
        this.submitting = false;
        this.redirectLoggedIn(+userData.role);
      })
      .catch(err => {
        this.submitting = false;
      });
  },
  methods: {
    runLogin() {
      if (this.login.length < 5) {
        this.error = "Логин не указан, или слишком короткий";
        return;
      }
      if (this.password.length < 4) {
        this.error = "Пароль не указан, или слишком короткий";
        return;
      }
      this.error = "";
      this.submitting = true;
      axios
        .post("/api/auth/login", {
          login: this.login,
          password: this.password
        })
        .then(res => {
          if (res.data.success || false) {
            this.$root.me(res.data.token)
            .then(userData => {
              this.submitting = false;
              this.redirectLoggedIn(+userData.role);
            })
            .catch(err => {
              this.error = 'Неизвестная ошибка';
              this.submitting = false;
            });
          } else {
            this.error = res.data.message || "Неизвестная ошибка";
            this.submitting = false;
          }
        })
        .catch(err => {
          this.error = "Неизвестная ошибка";
          this.submitting = false;
        });
    },
    redirectLoggedIn(uRole) {
      let role = this.$root.userData.id || uRole;
      if (typeof uRole === "undefined") return;
      if (uRole == 2) {
        this.$router.push("/admin");
      } else {
        this.$router.push("/main");
      }
    }
  }
};
</script>
<style>
#bodyimg {
  z-index: -999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  transform: scale(1.1);
  overflow: hidden;
}
#megacontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translateZ(0);
}
.grid,
#app {
  height: 100% !important;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

#centered-login-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>
