<template>
  <div id="megacontainer">
    <div id="bodyimg"></div>
    <div class="ui middle aligned center aligned grid">
      <sui-grid-column>
        <sui-form v-bind:loading="submitting" size="large" v-on:submit.prevent="runRegister">
          <sui-segment stacked>
            <sui-header centered image textAlign="center" color="blue" id="centered-login-header">
              <sui-icon name="sign in alternate" size="large" />
              <sui-header-content>Регистрация</sui-header-content>
            </sui-header>
            <sui-form-field>
              <sui-input @keyup="catchNameChange" iconPosition="left" icon="user icon" name="first-name" placeholder="Ваше имя" v-model="firstName" />
            </sui-form-field>
            <sui-form-field>
              <sui-input @keyup="catchNameChange" iconPosition="left" icon="user icon" name="last-name" placeholder="Ваша фамилия" v-model="lastName" />
            </sui-form-field>
            <sui-form-field>
              <sui-input iconPosition="left" icon="lock icon" type="password" name="password" placeholder="Ваш пароль" v-model="password" />
            </sui-form-field>
            <sui-form-field>
              <sui-input iconPosition="left" icon="lock icon" type="password" name="password-repeat" placeholder="Повторите пароль" v-model="password_repeat" />
            </sui-form-field>
            <sui-form-field>
              <sui-input iconPosition="left" icon="user icon" readonly name="login" placeholder="Ваше логин (будет сгенерирован системой)" v-bind:value="login" />
            </sui-form-field>
            <sui-button fluid color="blue" size="large" content="Регистрация" />
          </sui-segment>
        </sui-form>
        <transition enter-active-class="animated fadeIn" leave-active-class="">
          <sui-message error v-if="error.length > 0" v-bind:content="error" />
        </transition>
        <transition enter-active-class="animated fadeIn" leave-active-class="">
          <sui-message v-if="submitting == false">
          Уже есть аккаунт? <router-link to="/">Вход</router-link>
          </sui-message>
        </transition>
        <transition enter-active-class="animated fadeIn" leave-active-class="">
          <sui-message success v-if="success">
            Аккаунт создан, <a href="#" @click.prevent="successToLogin">авторизуйтесь...</a>
          </sui-message>
        </transition>
      </sui-grid-column>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "RegisterPage",
  data() {
    return {
      firstName: "",
      lastName: "",
      password: "",
      password_repeat: "",
      seed: Math.trunc(Math.random() * 1000000).toString(),
      submitting: false,
      error: '',
      success: false,
      timer: 0
    };
  },
  computed: {
    login() {
      if (this.firstName.length == 0 || this.lastName.length < 3) return "";
      let smb = new RegExp(
        /(\&\w{2,5}\;)|[\[\]\\\/\+\=\*\&\?\,\^\:\;\%\$\#\№\@\"\!\~\`\<\(\)]/,
        "ig"
      );
      let firstName = this.firstName.replace(smb, "").toLowerCase();
      let lastName = this.lastName.replace(smb, "").toLowerCase();
      return (
        this.translit(firstName.substr(0, 1)) +
        "." +
        this.translit(lastName) +
        this.seed
      );
    }
  },
  methods: {
    runRegister() {
      if(this.firstName == '' || this.firstName.length < 2) {
        this.error = 'Имя не указано, или слишком короткое'
        return;
      }
      if(this.lastName == '' || this.lastName.length < 3) {
        this.error = 'Фамилия не указана, или слишком короткая'
        return;
      }
      if(this.password == '' || this.password.length < 4) {
        this.error = 'Пароль не указан, или слишком короткий'
        return;
      }
      if(this.password != this.password_repeat) {
        this.error = 'Пароли не совпадают'
        return;
      }
      this.error = '';
      this.submitting = true;
      axios.post('/api/auth/register', {
        firstName: this.firstName,
        lastName: this.lastName,
        login: this.login,
        password: this.password
      })
      .then((response) => {
        if(response.data.success || false) {
          this.success = true;
          this.timer = setTimeout(this.successToLogin, 3000);
        }
      })
      .catch((error) => {
        this.submitting = false;
        this.error = error.response.data.message || 'Неизвестная ошибка';
      });
    },
    successToLogin() {
      clearTimeout(this.timer);
      this.$router.push('/');
    },
    catchNameChange() {
      this.firstName = this.firstName.substr(0, 1).toUpperCase() + this.firstName.slice(1);
      this.lastName = this.lastName.substr(0, 1).toUpperCase() + this.lastName.slice(1);
    },
    translit(text) {
      let transl = {
        а: "a",
        б: "b",
        в: "v",
        г: "g",
        д: "d",
        е: "e",
        ё: "e",
        ж: "zh",
        з: "z",
        и: "i",
        й: "j",
        к: "k",
        л: "l",
        м: "m",
        н: "n",
        о: "o",
        п: "p",
        р: "r",
        с: "s",
        т: "t",
        у: "u",
        ф: "f",
        х: "h",
        ц: "c",
        ч: "ch",
        ш: "sh",
        щ: "sh",
        ъ: "",
        ы: "y",
        ь: "",
        э: "e",
        ю: "yu",
        я: "ya"
      };

      return text
        .replace(/[абвгдеёжзийклмнопрстуфхцчшщъыьэюя]/gi, m => transl[m])
        .trim();
    }
  }
};
</script>

<style>
#bodyimg {
  z-index: -999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  transform: scale(1.1);
  overflow: hidden;
}
#megacontainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: translateZ(0);
}
.grid,
#app {
  height: 100% !important;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
#centered-login-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>
