<template>
  <div v-bind:class="elemClass">
    <div v-bind:class="[iconExists ? 'ui icon input' : 'ui input']">
      <input class="prompt" ref="searchInput" autocomplete="off" @focus="inFocus" @blur="outFocus" v-bind:placeholder="placeholder" type="text" :value="text" @input="updateSearch()" />
      <i v-bind:class="icon + ' icon'" v-if="iconExists"></i>
    </div>
    <transition
      name="search-transition"
      enter-active-class="animating scale in"
      leave-active-class="visible animation scale out"
    >
      <div v-if="showResults" class="results transition visible">
        <span class="result" v-for="res in results" :key="res" @click="select(res)">
          <div class="content">
            <div class="title">{{res}}</div>
          </div>
        </span>
      </div>
    </transition>
  </div>
</template>
<script>
import debounce from "lodash/debounce";
export default {
  name: "SuiSearch",
  props: [
    "placeholder",
    "value",
    "icon",
    "onSearch",
    "onSelect",
    "debounce",
    "minSearchLength"
  ],
  data() {
    return {
      text: "",
      selection: "",
      focused: false,
      loading: false,
      showResults: false,
      results: []
    };
  },
  computed: {
    elemClass() {
      return (
        "ui search" +
        (this.focused ? " focus" : "") +
        (this.loading ? " loading" : "")
      );
    },
    iconExists() {
      return typeof this.icon !== "undefined";
    }
  },
  watch: {
    value(newVal) {
      this.text = newVal;
    }
  },
  methods: {
    updateSearch() {
      this.$emit('input', this.$refs.searchInput.value);
      this.text = this.$refs.searchInput.value;
      this.emitSearch();
    },
    emitSearch() {
      let minLength =
        typeof this.minSearchLength === "number" ? this.minSearchLength : 3;
      if (this.text.length >= minLength) this.emitSearchDebounce();
      else this.clearResults();
    },
    clearResults() {
      this.loading = false;
      this.results = [];
      this.showResults = false;
    },
    search() {
      this.loading = true;
      this.showResults = false;
      if(typeof this.onSearch === 'function') {
        this.onSearch(this.text, this.searchEnd);
      }
    },
    searchEnd(results) {
      this.loading = false;
      this.results = results;
      this.showResults = this.results.length > 0;
    },
    inFocus() {
      this.focused = true;
      if (this.results.length > 0) this.showResults = true;
      else this.showResults = false;
    },
    outFocus() {
      this.focused = false;
      this.showResults = false;
    },
    select(item) {
      this.text = item;
      this.selection = item;
      this.focused = false;
      this.showResults = false;
      this.$emit('input', item);
      if(typeof this.onSelect === 'function') {
        this.onSelect({
          item, index: this.results.indexOf(item)
        });
      }
    }
  },
  mounted() {
    let debounceTimeout =
      typeof this.debounce !== "undefined" ? +this.debounce : 500;
    this.emitSearchDebounce = debounce(this.search, debounceTimeout);
  }
};
</script>