<template>
  <sui-container>
    <sui-menu pointing secondary>
      <a
        is="sui-menu-item"
        v-for="item in items"
        :active="isActive(item)"
        :key="item"
        :content="item"
        @click="select(item)"
      />
      <sui-menu-menu position="right">
        <a
          is="sui-menu-item"
          :active="logout"
          content="Выход"
          @click="runLogout()"
        />
      </sui-menu-menu>
    </sui-menu>
    <router-view></router-view>
  </sui-container>
</template>
<script>
export default {
  name: "UserPage",
  data() {
    return {
      logout: false,
      items: ["Список заявок", "Создать заявку"]
    };
  },
  mounted() {
    if (localStorage.getItem("auth") == null) {
      this.$root.token = "";
      this.$router.push({ path: "/" });
    }
    if (this.$root.userData.role == 1) {
      this.items.push("Отчёты");
    }
  },
  computed: {
    active() {
      switch (this.$route.name) {
        case "ReportsList":
          return 0;
          break;
        case "RegisterReport":
          return 1;
          break;
        case "ReportGenerator":
          return 2;
          break;
      }
    }
  },
  methods: {
    isActive(name) {
      return this.active === this.items.indexOf(name);
    },
    select(name) {
      var uri = { name: "" };
      switch (this.items.indexOf(name)) {
        case 0:
          uri.name = "ReportsList";
          break;
        case 1:
          uri.name = "RegisterReport";
          break;
        case 2:
          uri.name = "ReportGenerator";
          break;
      }
      this.$router.push(uri);
    },
    runLogout() {
      this.logout = true;
      this.$root.logout();
    }
  }
};
</script>