<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "App",
  mounted() {
    this.$root
      .me(localStorage.getItem("auth") || this.$root.token)
      .catch(err => {
        this.$router.push("/");
      });
  }
};
</script>

<style>
</style>
